@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Overlock&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Overlock, Arial;
    font-weight: 400;
    color: rgb(54, 7, 7);
    background-image: linear-gradient(to right,#F2F4E8,#CDD6C6, #A5BAA8);
}

hr {
     border: 1.5px solid #4D4637;
     width: 80%;
     margin: 10px auto;
}

/* headings and logo */

h1, h2 {
    font-family: Caveat, Arial;
    font-size: 200%;
    letter-spacing: 5px;
    color: rgb(54, 7, 7);
    margin: 5px 5px 15px
}

.logo {
    float: left;
    font-size: 500%;
}

/* navigation links */

.navigation {
    line-height: 75px;
}

.navigation li {
    list-style-type: none;
    margin: 20px 30px 0px 0px;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.nav-box {
    display: flex;
    font-size: 180%;
    letter-spacing: 4px;
    justify-content: flex-end;
    align-items: center;
}
.nav-box-1 {
    flex: 1;
    order: 1;
}

.nav-box-2 {
    flex: 1;
    order: 2;
}

.nav-box-3 {
    flex: 1;
    order: 3;
}

.navigation a:hover {
    border-bottom: 2px solid #4D4637;
}

.active {
    border-bottom: 2px solid #4D4637;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-img-placeholder.jpg) no-repeat center center;
    overflow: hidden;
}
/* about section */

#about {
    font-family: Overlock, Arial;
    font-weight: 400;
    font-size: 18pt;
    color: rgb(54, 7, 7);
    padding: 30px 10px;
}

#about-heading {
    /* margin-left: 25px; */
    margin: -20px 0 0 25px;
}

.about-para {
    padding: 5px 15px;
    margin: 10px 5px;
}

/*contact box on index page*/

.contact-container {
    display: flex;
    padding: 10px 10px;
    align-items: baseline;
    justify-content: center;
}

.contact-box-1 {
    order: 2;
    text-align: center;
}

.contact-box-2 {
    flex: 1;
    order: 1;
    text-align: left;
    padding: 10px 10px;
    margin-left: 70px;
}

.contact-box-3 {
    flex: 1;
    order: 3;
    text-align: right;
    padding: 10px 10px;
    margin-right: 70px;
}

.textbox {
    font-family: Overlock, Arial;
    font-weight: 500;
    font-size: 14pt;
    color: rgb(54, 7, 7);
}

.bold {
    font-weight: bold;
}

table, th, td {
    padding: 0px 30px;
  }

  table {
    border-spacing: 5px;
  }

/*footer*/

footer p {
    text-align: center;
    padding: 10px;
    font-size: 110%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    padding: 0 1%;
    margin: 0 13%;
    color: #2E2F26;
}

/* #footer-call-to-action {   
} */

/*menu.html page*/


.menu-image {
    max-width: 50%;
    max-height: 300px;
    /* border: 5%;
    padding: 5%; */
    overflow: hidden;
    float: left;
}

#menu-top-image {
    height: 600px;
    width: 100%;
    background: url(../images/menu-top.jpg) no-repeat center center;
    overflow: hidden;
}

.menu-opening {
    font-family: Overlock, Arial;
    font-weight: 500;
    font-size: 20pt;
    color: rgb(54, 7, 7);
}

.menu-list {
    float: right;
    padding: 20px 10px;
    margin: 0 auto;
    height: 300px;
}

/* media queries */

@media screen and (max-width: 800px) {
    #about-heading {
        text-align: center;
        margin: -25px 0 0 0;
        padding-right: 25px;
    }

    footer {
        height: 100px;
    }

    .logo {
        font-size: 350%;
    }

    .navigation {
       line-height: 0px; 
       letter-spacing: 0px;
    }
}